
/**/
#timer{
    height: auto;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20x;
    color: aliceblue;

}

.timer{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    backdrop-filter: blur(10px); /* Ефект розмиття фону */
    -webkit-backdrop-filter: blur(10px);
}

/**/
.bg{
    background-image: url('bg1.jpg');
    height: 90vh;
    width: 90vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    overflow: hidden; /*сховати все що поза заокругленням*/
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5);
    margin: 30px auto;
}

.content, .content2{
    width: 90vw;
    height: 90vh;
    margin: 35px auto;
}

.content{
    background-image: url("bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 15vh auto 0;
}

.choose, .surprise{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: rgb(2, 14, 52);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.choose{
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.month{
    margin: 0 auto;
    width: 70vw;
    height: 70vh;
}


.first, .second, .third, .fourth,.fiveth{
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    
}

.second, .fourth{
    display: flex;
    justify-content: center;
    gap: 130px;
}

.third{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5vh 0;
}

.month a{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 40px 0 0;
    background-color: #8eabd0;
    width: 250px;
    height: 40px;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease; 
    text-decoration: none;
}

.surprise a{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    justify-content: center;
    margin: 20px 0 0;
    background-color: rgb(255, 111, 178);;
    width: 70px;
    height: 20px;
    cursor: pointer;
    font-size: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease; 
    text-decoration: none;
    opacity: 50%;
}

.next a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat;
    font-style: italic;
    width: 200px;
    height: auto;
    padding-top: 24%;
    text-decoration: none;
    color: black;
    margin: auto;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.ily{
    max-height: 100vh;
}

.ily img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: auto;
    margin: 80px auto 0;
}

.ily a{
    width: 50vw;
    height: 20vh;
    margin: 80px auto 0;
}